# Folder
.vscode/
.pytest_cache/
__pycache__/


# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class


# Distribution / packaging
build/
dist/
sdist/
eggs/
*.egg-info/
*.egg


# coverage reports
.coverage
coverage.xml


# Jupyter Notebook
.ipynb_checkpoints
